body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    /*width: 800px;*/
    margin: 0 auto;
    background: white;
    padding-bottom: 100px;
}
#chats {
    /*width: 500px;*/
    margin: 0 auto;
    text-align: left;
    background: white;
    padding: 30px;
    border: 1px solid #ddd;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

span.username {
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}
span.username:hover {
    color: #999;
}

span.friend {
    color: blue;
}
span.friend ~ span.text {
    font-weight: bold;
}

#chats {
    height: 500px;
    overflow-y: scroll;
}
.row {
    padding-bottom: 20px;
}

select {
    margin-bottom: 20px;
}